@inherits UmbracoViewPage<ContentModels.HomePage>

@using ContentModels = Umbraco.Web.PublishedModels;
@{
	Layout = null;
}

<body>
    <h1>@Model.Value("pageTitle")</h1>
    <p>@Model.Value("textBody")</p>
</body>